/* Import Questiral and Tienne fonts*/
@import url(http://fonts.googleapis.com/css?family=Questrial|Tienne:400,700,900);


* {
  font-size: 1em;
  font-family: 'Questrial', sans-serif;

  /* This css trick will make your webfonts buttery smooth and fine */
  -webkit-font-smoothing: antialiased !important;
}

/* SELECTION COLOR
================================================== */

::-moz-selection { background: #01b2c6; color: #fff; text-shadow: none; }
::selection { background: #01b2c6; color: #fff; text-shadow: none; }



/* NAVBAR
================================================== */


.navbar-fixed-top {
  padding-top: 50px;
}

#main-nav {
  -webkit-animation:navin 6s forwards linear;
  -moz-animation:navin 6s forwards linear;
  -o-animation:navin 6s forwards linear;
  -ms-animation:navin 6s forwards linear;
  animation:navin 6s forwards linear;
  -webkit-transition:padding .2s linear;
  -moz-transition:padding .2s linear;
  -o-transition:padding .2s linear;
  -ms-transition:padding .2s linear;
  transition:padding .2s linear;
  -webkit-transform: translate3d(0,0,100px);
  transform: translate3d(0,0,100px);
}

.navbar-brand {
  padding-right: 0;
  padding-left: 0;
}

.navbar-brand:hover{
  outline-color: #01b2c6;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1em;
}

.nav>li>a {
  position: relative;
  font-size: 20px;
  font-weight: lighter;
  display: block;
  margin-right: 80px;
  margin-top: 45px;
  color: #fff;
  text-decoration: none;
  padding: 0;
}


.nav>li>a:hover {
  background-color: transparent;
  border-bottom: 2px solid #01b2c6;
  padding-bottom: 10px;
}

.small-logo {
  height: 50px;
}

a {
  color: #01b2c6;
  text-decoration: none;
}


.sticky {
  top: 0;
  background-color: #01b2c6;
  padding-top: 0;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -o-transition: background .2s linear;
  -ms-transition: background .2s linear;
  transition: background .2s linear;
}

.sticky .nav>li>a:hover {
  background-color: transparent;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

.sticky .nav-logo{
  height: 55px;
}


@media screen and (min-width: 0px) and (max-width: 767px) {
  .sticky {
    display: none;
  }
}


/* MOBILE NAVBAR
================================================== */

@media screen and (min-width: 0px) and (max-width: 767px) {
  #offcanvas-menu { 
    display: block; 

  }  /* show offcanvas menu on small screens */

  .offcanvas-menu {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    text-align: left;
    z-index: 9999;
    -webkit-transform: translate3d(0,0,100px);
    transform: translate3d(0,0,100px);
  }

  .offcanvas-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background-color: #4a4a4a;
    width: 200px;
    height: 100%;
  }

  .offcanvas-menu, .body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .offcanvas-brand {
    width: 200px;
    display: inline-block;
  }

  .offcanvas-list-group {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: #fff;
  }

  #menu-toggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 9999;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0,0,0,0.25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  #menu-toggle:hover, #menu-toggle-left:hover {
    color: #ffffff;
    background: rgba(0,0,0,0.2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }

  .offcanvas-list-group a {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
  }

  .offcanvas-list-group a:hover {
    color: #01b2c6;
    text-decoration: none;
  }

  .menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
  }

  .menu-close:hover {
    color: #ffffff;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
      -ms-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
  }

  .body-push-toleft {
    left: -200px;
  }

  .offcanvas-menu.menu-open {
  right: 0px;
}

}

@media screen and (min-width: 768px) {
  #offcanvas-menu { 
    display: none; 
  }   /* hide menu on larger screens */
}



/* BUTTONS
================================================== */

.btn {
  border-radius: 2px;
  padding: 10px 20px;
  border-style: none;
  font-size: 1.6em;
}

.btn-default {
  color:#01b2c6;
  background-color: #fff;
  border-color: #01b2c6;
}

.btn-primary {
  color: #fff;
  background-color: rgba(1, 178, 198, .8);
  border-color: #01b2c6;
}

.btn-primary:hover{
  background-color: #01b2c6;
}

.btn-clear {
  color: #fff;
  border-color: #fff;
  border: 2px solid #fff;
}

.btn-circle {
  display: inline-block;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  background: #01b2c6;
  background: rgba(1,178,198,0.85);
  color: #fff;
  font-size: 20px;
  border-radius: 78px;
  line-height: .150px;
  background-clip: padding-box;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    -ms-transition: background .2s linear;
    transition: background .2s linear;

}

.btn-circle:hover, .btn-circle:active, .btn-circle:focus {
  color: #fff;
  background: #01b2c6;
  -webkit-transition: background .2s linear;
  -moz-transition: background .2s linear;
  -o-transition: background .2s linear;
  -ms-transition: background .2s linear;
  transition: background .2s linear;
  text-decoration: none;
}

a.btn-circle {
line-height: 1.4;
padding-top: 40px;
font-size: 20px;
font-weight: 300;
}

.btn-circle hr {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;

}


/*  ICON STYLING
================================================== */

.jumbotron-icon, .fa-6x {
  font-size: 10em;
}


/* SLICES
================================================== */

.slice {
  padding: 50px 0 75px 0;
  margin
  z-index: 10;
}

.color1 {
  background-color: #f7f7f7;
}

.color2 {
  background-color: #01b2c6;
  color: white;

}

.slice-title {
  font-family: 'Tienne', serif;
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color: #4a4a4a;

}

.slice-title2 {
  font-family: 'Tienne', serif;
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color: white;

}

.slice-subtitle {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 75px;
}

.slice-subtitle2 {
  font-size: 1.5em;
  text-align: center;
  color: white;
  margin-bottom: 75px;
}


/* LANDING/HOME
================================================== */

#homeFullScreen {
  width:100%;
  background-image: url('../img/AHML_bg.jpg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
  height:100%;
  display:table;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

#homeFullScreen .container {
  left: 50%;
  top: 50%;
  position:fixed;
  z-index: 0;
  -webkit-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

header h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 5em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5em;
  font-weight: normal;

}

header p {
  font-size: 1.5em;
  font-family: 'Tienne', serif;
  font-weight: normal;
  color: #e2e2e2;
  margin-bottom: 2em;
  line-height: 2em;
}

.landing {
  text-align: center;
  margin-top: auto;
  display: block;
}

@media (max-width: 767px) {
  #slideshow-caption h1 {
    font-size: 2.5em;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  #slideshow-caption p {
    font-size: 1em;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  #homeFullScreen {
    background-position: 50% 0;
  }
}

/* ABOUT
================================================== */

#about {
  position:relative;
  z-index: 10;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);
}

#about h2 {
  text-align: center;
  font-family: 'Tienne', serif;
  font-size: 2em;
  line-height: 1.5em;
}

.about-slide {
  background-color: #f7f7f7;
  margin: 3em 0 3em 0;
}

/* SERVICES
================================================== */


#services i {
  color: #01b2c6;
}

.service{
  text-align: center;
}

#services h2 {
  font-family: 'Questrial', sans-serif;
  margin-top: 2em;
  color: #5b5d64;
}

#services h4 {
  color: #5b5d64;
}

#services p {
  font-size: 1.2em;
  padding: 0 3em 0 3em;
  margin-top: 1.5em;
  color: #929090;
}

#services {
  position:relative;
  z-index: 10;
  background-color: #ffffff;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);
}



/* DICHOTOMY
================================================== */

#dichotomy {
  background: url('../img/AHML_dichotomy.jpg') no-repeat center center;
  background-size: cover;
  height: 695px;
  line-height: 695px;
  text-align: center;
  position:relative;
  z-index: 10;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);
}

/* TOOLS
================================================== */

#tools {
  position:relative;
  z-index: 10;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);
}

.tool {
  text-align: center;

}

.tool-text {
  margin-top: 15px;
  font-size: 1.1em;
  text-transform: uppercase;

}

/* WORK
================================================== */

#work {
  position:relative;
  z-index: 10;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);
}

#work h3 {
  font-family: 'Tienne', serif;
  font-size: 1.75em;
  color: #4a4a4a;
}

#work p {
  font-size: 1.2em;
  color: #a6a6a6;
}

#work .slice-title {
  margin-bottom: 70px;
}

#work .thumbnail {
  margin-bottom: 45px;
  text-align: center;
}

.thumbnail {
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid #ddd;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.thumbnail:hover {
  border-bottom: 3px solid #01b2c6;
}

#work .caption:before {
  content: ' ';
  position: absolute;
  top: 345px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #fff transparent;
}


/* CONTACT
================================================== */

#contact {
  background: url('../img/city-harbor.jpg') no-repeat center center;
  background-color: #fff;
  background-size: cover;
  height: 750px;
  line-height: 750px;
  text-align: center;
  position:relative;
  z-index: 10;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);
}

#contact .slice-title {
  color: #fff;
  margin-bottom: 10px;
}

.input-lg {
  height: 65px;
  border-radius: 2px;
  font-size: 1.5em;
}

textarea {
  resize: none;
}

textarea.form-control {
  margin-top: 30px;
  font-size: 1.5em;
  border-radius: 2px;

}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(1, 178, 198,1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(1, 178, 198,1);
  }

#contact button {
  margin-top: 60px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(1, 178, 198, 1);
  border: 1px solid rgba(1, 178, 198, 1);
}

.pigeon {
  float: left;
}

/* CONNECT
================================================== */

#connect {
  padding-top: 75px;
  position:relative;
  z-index: 10;
  background-color: #ffffff;
  -webkit-transform: translate3d(0,0,10px);
  transform: translate3d(0,0,10px);
}

.connect {
  text-align: center;
  color: #a7a7a7;

}

#connect p {
  text-align: center;
  color: #a7a7a7;
  font-size: 1.2em;
  margin-top: 50px;
}

.social-icon {
  width: 50px;
  height:50px;
  margin: 0 40px 0 40px;
  padding: 5px;
  zoom: 1;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

#connect a {
  color: #a7a7a7;
}

.fa-twitter.social-icon:hover {
  background-color: #64b0de;
  color: #fff;
}

.fa-facebook.social-icon:hover {
  background-color: #3b5998;
  color: #fff;
}

.fa-dribbble.social-icon:hover {
  background-color: #f977a7;
  color: #fff;
}

.fa-linkedin.social-icon:hover {
  background-color: #4875B4;
  color: #fff;
}


#connect ul {
  display: inline-block !important;
  text-decoration: none;
}

/* Equalizer - original code by http://aniketpant.com/2011/06/pure-css-soundbars/ */

@-moz-keyframes stop {
  0% {
    height: 20px; }

  100% {
    height: 4px; } }

@-moz-keyframes hover {
  0% {
    height: 5px; }

  100% {
    height: 20px; } }

@-moz-keyframes move1 {
  0% {
    height: 5px; }

  25% {
    height: 20px; }

  75% {
    height: 15px; }

  100% {
    height: 5px; } }

@-moz-keyframes move2 {
  0% {
    height: 2px; }

  25% {
    height: 12px; }

  75% {
    height: 20px; }

  100% {
    height: 2px; } }

@-moz-keyframes move3 {
  0% {
    height: 7px; }

  25% {
    height: 2px; }

  75% {
    height: 20px; }

  100% {
    height: 7px; } }

@-moz-keyframes move4 {
  0% {
    height: 12px; }

  25% {
    height: 5px; }

  75% {
    height: 22px; }

  100% {
    height: 12px; } }

@-webkit-keyframes stop {
  0% {
    height: 20px; }

  100% {
    height: 4px; } }

@-webkit-keyframes hover {
  0% {
    height: 5px; }

  100% {
    height: 20px; } }

@-webkit-keyframes move1 {
  0% {
    height: 5px; }

  25% {
    height: 20px; }

  75% {
    height: 15px; }

  100% {
    height: 5px; } }

@-webkit-keyframes move2 {
  0% {
    height: 2px; }

  25% {
    height: 12px; }

  75% {
    height: 20px; }

  100% {
    height: 2px; } }

@-webkit-keyframes move3 {
  0% {
    height: 7px; }

  25% {
    height: 2px; }

  75% {
    height: 20px; }

  100% {
    height: 7px; } }

@-webkit-keyframes move4 {
  0% {
    height: 12px; }

  25% {
    height: 5px; }

  75% {
    height: 22px; }

  100% {
    height: 12px; } }

.music-toggle {
  display: none;
  /* showing up is controlled via jQuery */
  cursor: pointer;
  float: right; }

.bars {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 19px;
  height: 20px;
  /* true is 22 */
  position: relative;
  display: inline-block;
}


.bars li {
  position: absolute;
  bottom: 0;
  display: inline-block;
  float: left;
  width: 4px;
  background-color: #ffffff;
  -webkit-border-radius: 1px 1px 0px 0px;
  -moz-border-radius: 1px 1px 0px 0px;
  border-radius: 1px 1px 0px 0px;
  -webkit-transition: height 0.4s linear;
  -moz-transition: height 0.4s linear;
  -o-transition: height 0.4s linear;
  transition: height 0.4s linear;
  margin: 0;
}

.bars:first-child {
  margin-left: 0; }

.bars:last-child {
  margin-right: 0; }

.bar1 {
  left: 0px;
  height: 16px;
  -moz-animation: move1 infinite 2s linear;
  -webkit-animation: move1 infinite 2s linear; }

.bar2 {
  left: 5px;
  height: 12px;
  -moz-animation: move2 infinite 4s linear;
  -webkit-animation: move2 infinite 4s linear; }

.bar3 {
  left: 10px;
  height: 18px;
  -moz-animation: move3 infinite 2s linear;
  -webkit-animation: move3 infinite 2s linear; }

.bar4 {
  left: 15px;
  height: 9px;
  -moz-animation: move4 infinite 0.8s linear;
  -webkit-animation: move4 infinite 0.8s linear; }

.hidden {
  height: 300px;
  box-shadow: none !important; }

.music-toggle.music-stopped .bars li {
  height: 4px;
  -moz-animation: stop 0.8s linear;
  -webkit-animation: stop 0.8s linear; }

#mobile-logo {
  display: none;
  position: relative;
  text-align: center;
  padding: 200px 0; }



.form-callback {
  margin-top: 100px;
}



