/*!
* Andrewhml.com
* Copyright 2013 Syntheus, LLC
*
*
*
*/

/* Import Questiral and Tienne fonts*/
@import url(http://fonts.googleapis.com/css?family=Questrial|Tienne:400,700,900);


* {
	font-size: 1em;
	font-family: 'Questrial', sans-serif;

	/* This css trick will make your webfonts buttery smooth and fine */
	-webkit-font-smoothing: antialiased !important;


}

body {
	background: url(images/AHML_bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding: 2em;
}

a {
	text-decoration: none;
}



::-moz-selection { background: #01b2c6; color: #fff; text-shadow: none; }
::selection { background: #01b2c6; color: #fff; text-shadow: none; }





/* Navbar */

.logo {
	display: inline-block;
	width:150px;
}

.nav-logo {
	border-bottom: 4px solid #01b2c6;
	padding-bottom: 12px;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	display: inline;
}

nav {
	float: right;
	margin-top: 45px;
}

nav a{
	text-decoration: none;
	display: inline;
	color: white;
	font-weight: lighter;
}

nav a:hover {
	border-bottom: 4px solid #01b2c6;
	padding-bottom: 7px;
}

nav ul{
	list-style: none;
	margin: 0;
}

nav li {
	text-decoration: none;
	display: inline;
	font-size: 1.25em;
	font-weight: lighter;
	margin: 0 1.5em;

}

nav li:first-child {
	margin-left: 0;
}


/* Header Elements */

header{
	margin: auto auto;
}

header h1 {
	font-size: 4em;
	width: 50%;
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1.5em;
	font-weight: normal;

}

header h1:first-child{
	margin-top: 3em;
}

header p {
	font-size: 1em;
	font-family: 'Tienne', serif;
	font-weight: normal;
	color: #e2e2e2;
	text-align: center;
	margin: auto;
	width: 30%;
	margin-bottom: 2em;
	line-height: 2em;
}


.colblock {
	display: inline-block;
	margin: 5px;
	width: 2em;
	height: 2em;
	border: 2px solid white;
	border-radius: 2px;
	box-shadow: -2px 2px 2px black;
}

.btn {
	display: inline-block;
	padding: 8px 15px;
	margin-bottom: 0;
	font-size: 1.4em;
	font-weight: normal;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border-radius: 3px;
	border-style: none;
	text-align: center;
	-webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
        -o-user-select: none;
          user-select: none;

}

.btn-default{
	background-color: #01b2c6;
	color: white;
	border-color: #01b2c6;
	margin: auto;
}

header button {
	margin-top: 2em;
}

.colors{
	float: left;
	clear: both;
}


/* Equalizer - original code by http://aniketpant.com/2011/06/pure-css-soundbars/ */

@-moz-keyframes stop {
  0% {
    height: 20px; }

  100% {
    height: 4px; } }

@-moz-keyframes hover {
  0% {
    height: 5px; }

  100% {
    height: 20px; } }

@-moz-keyframes move1 {
  0% {
    height: 5px; }

  25% {
    height: 20px; }

  75% {
    height: 15px; }

  100% {
    height: 5px; } }

@-moz-keyframes move2 {
  0% {
    height: 2px; }

  25% {
    height: 12px; }

  75% {
    height: 20px; }

  100% {
    height: 2px; } }

@-moz-keyframes move3 {
  0% {
    height: 7px; }

  25% {
    height: 2px; }

  75% {
    height: 20px; }

  100% {
    height: 7px; } }

@-moz-keyframes move4 {
  0% {
    height: 12px; }

  25% {
    height: 5px; }

  75% {
    height: 22px; }

  100% {
    height: 12px; } }

@-webkit-keyframes stop {
  0% {
    height: 20px; }

  100% {
    height: 4px; } }

@-webkit-keyframes hover {
  0% {
    height: 5px; }

  100% {
    height: 20px; } }

@-webkit-keyframes move1 {
  0% {
    height: 5px; }

  25% {
    height: 20px; }

  75% {
    height: 15px; }

  100% {
    height: 5px; } }

@-webkit-keyframes move2 {
  0% {
    height: 2px; }

  25% {
    height: 12px; }

  75% {
    height: 20px; }

  100% {
    height: 2px; } }

@-webkit-keyframes move3 {
  0% {
    height: 7px; }

  25% {
    height: 2px; }

  75% {
    height: 20px; }

  100% {
    height: 7px; } }

@-webkit-keyframes move4 {
  0% {
    height: 12px; }

  25% {
    height: 5px; }

  75% {
    height: 22px; }

  100% {
    height: 12px; } }

.music-toggle {
  display: none;
  /* showing up is controlled via jQuery */
  cursor: pointer;
  float: right; }

.bars {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 19px;
  height: 20px;
  /* true is 22 */
  position: relative; 
  display: inline-block;
}


.bars li {
  position: absolute;
  bottom: 0;
  display: block;
  float: left;
  width: 4px;
  background-color: #ffffff;
  -webkit-border-radius: 1px 1px 0px 0px;
  -moz-border-radius: 1px 1px 0px 0px;
  border-radius: 1px 1px 0px 0px;
  -webkit-transition: height 0.4s linear;
  -moz-transition: height 0.4s linear;
  -o-transition: height 0.4s linear;
  transition: height 0.4s linear;
  margin: 0;
}

.bars li:hover{
	background-color: #01b2c6;
}

.bars:first-child {
  margin-left: 0; }

.bars:last-child {
  margin-right: 0; }

.bar1 {
  left: 0px;
  height: 16px;
  -moz-animation: move1 infinite 2s linear;
  -webkit-animation: move1 infinite 2s linear; }

.bar2 {
  left: 5px;
  height: 12px;
  -moz-animation: move2 infinite 4s linear;
  -webkit-animation: move2 infinite 4s linear; }

.bar3 {
  left: 10px;
  height: 18px;
  -moz-animation: move3 infinite 2s linear;
  -webkit-animation: move3 infinite 2s linear; }

.bar4 {
  left: 15px;
  height: 9px;
  -moz-animation: move4 infinite 0.8s linear;
  -webkit-animation: move4 infinite 0.8s linear; }

.hidden {
  height: 300px;
  box-shadow: none !important; }

.music-toggle.music-stopped .bars li {
  height: 4px;
  -moz-animation: stop 0.8s linear;
  -webkit-animation: stop 0.8s linear; }

#mobile-logo {
  display: none;
  position: relative;
  text-align: center;
  padding: 200px 0; }

