
/* <-- set all fonts san serif */
* {
	font-size: 1em;
	font-family: Helvetica, 'sans-serif' !important;

}

body {
	padding: 25px;
}

/* Nav */

h1{
	font-size: 4em;
	letter-spacing: -2px;
	text-transform: uppercase;
	float: left;
	line-height: .01em;

}

h2 {
	font-size: 2em;
	line-height: 1em;
	margin-top: 0px;
	letter-spacing: -1px;
	word-spacing: -5px;
	text-transform: uppercase;

}

h4 {
	font-size: .9em;
	font-weight: 900;
	padding: 0px;
	margin: 20px 0px 0px 0px;
}

ul{
	list-style:none;
	padding: 0px;
}

.divider {
	background-color: #7f7f7f;
	width: 100%;
	height: 2px;
	clear: both;
	margin: 0 0 0 0;
}

li {
	display: inline;
	margin-right: 2em;
	text-decoration: none;
	font-weight: 700;
	margin-top: 4em;

}

/* Links */

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #00afe6;
}

a:active{
	color: #ee3e23;
}

a:visited{
	color: #00b4b8;
}


aside{
	padding: 0 0 0 0;
}

footer {
	clear: both;
	margin-top: -10px;

}

footer p {
	font-size: 1.25em;
	font-weight: 700;
}