
/* Import League-Gothic */

@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular-webfont.eot');
    src: url('type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-regular-webfont.woff') format('woff'),
         url('type/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* set all fonts san serif */


* {
	font-size: 1em;
	font-family: Helvetica, 'sans-serif';

}


body {
	padding: 25px;
}

/* Nav */

.title {
	float: left;
	max-width: 30%;
}

nav {
	float: right;
	margin-top: 60px;
}

ul{
	list-style:none;
	padding: 0px;
}

li {
	display: inline;
	margin-right: 2em;
	text-decoration: none;
	font-weight: 700;
	margin-top: 4em;

}

.divider {
	background-color: #7f7f7f;
	width: 100%;
	height: 2px;
	clear: both;
	margin: 0 0 0 0;
}

/* Body Elements  */

h1{
	font-family: "leaguegothic-regular", Helvetica, sans-serif;
	font-size: 2.5em;
	line-height: 1.25em;
	margin: 0  0 10px 0;
	padding: 0px;
	text-transform: uppercase;

}

h2 {
	font-size: 1em;
	line-height: 1em;
	margin: 20px 0px 0px 0px;

}

h3 {
	font-size: .8em;
	font-weight: 900;
	margin-bottom: 0px;
	padding: 0px;

}

p {
	font-size: .8em;
	font-weight: 500;
	line-height: 1.5em;
	margin: 0 0 40px 0;
}


/* Links */

a {
	text-decoration: none;
	color: #000000;
}

a:visited{
	color: #00b4b8;
}

a:hover {
	color: #00afe6;
}

a:active{
	color: #ee3e23;
}



aside{
	padding: 0 0 0 0;
	margin-top: -20px;
	position: absolute;
	width: 20%;
}

footer {
	clear: both;
	margin-top: -10px;

}

footer p {
	margin-top: 20px;
	font-size: 1.25em;
	font-weight: 600;
}

.copyright{
	font-weight: 100;
	font-size: 1em;
}

.container{
	position: relative;
	margin: 0px;
	padding: 0px;
}

article {
	margin-left: 30%;
}

article:first-child {
	margin-top: 60px;
}
